body {
    height: 10em;
    position: relative;
    margin: 0;
    background-color:white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
}